.alert {
  border: 0;
  border-radius: 0.5rem;
}

@each $name, $color in $colors {
  .alert-#{$name} {
    background-color: $color !important;
    color: color-yiq($color) !important;
    box-shadow: 0 9px 26px -6px color-opacity($color, .15), 2px 8px 9px -4px color-opacity($color, .6);
  }
}
