@each $name, $color in $colors {
    .bg-#{$name} {
        background-color: $color !important;
    }
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &::before {
        -webkit-backdrop-filter: saturate(50%) brightness(50%) blur(50px);
        backdrop-filter: saturate(50%) brightness(50%) blur(50px);
        background-color: color-opacity($main_theme, .25);
    }
    &::after {
        background-image: url(../images/overlay-2.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: right;
        background-position-y: top;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}