.breadcrumb {
    background-color: transparent;
    padding: 0;

    li.breadcrumb-item {
        font-weight: 700;
        a {
            color: $text-dark !important;
            &:hover {
                color: $text-dark !important;
                text-decoration: none;
            }
        }

        &.active {
            color: color-opacity($text-dark, .75) !important;
        }

        +.breadcrumb-item::before {
            color: color-opacity($text-dark, .75);
        }
    }

    &.light {
        li.breadcrumb-item {
            a {
                color: $white !important;
                &:hover {
                    color: $white !important;
                }
            }
            &.active {
                color: color-opacity($white, .75) !important;
            }
            +.breadcrumb-item::before {
                color: color-opacity($white, .75);
            }
        }
    }
}
