.carousel::after {
    content: '';
    background-image: url(../images/overlay.png);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position-y: top;
    background-position-x: right;
}

.carousel::before {
    content: '';
    background-image: url(../images/layer.png);
    background-size: cover;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 140px;
    z-index: 1;
}

.carousel-item {
    max-height: 100vh;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}