.card {
    border: 0;
    box-shadow: 0 9px 26px -6px rgba(0,0,0,.15),2px 8px 9px -4px rgba(0,0,0,.06) !important;
    border-radius: 10px;
    overflow: hidden;
    
    &:not(.contain) {
        height: 100%;
    }

    &:not(.clear)::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url(../images/overlay-2-portrait.png);
        background-size: 85% auto;
        background-repeat: no-repeat;
        background-position: bottom right;
    }

    &:not(.clear)::after {
        content: "";
        background-image: url(../images/overlay-4.png);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: left top;
        background-size: auto 50px;
        background-repeat: no-repeat;
    }

    .card-img-top {
        width: 100%;
        height: 280px;
        object-fit: cover;
        object-position: center;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        &::after {
            content: "";
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.2));
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
        &.darker {
            &::after {
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75));
            }
        }

        &.video {
            &::before {
                content: '';
                width: 75px;
                height: 75px;
                position: absolute;
                left: 50%;
                margin-left: -37.5px;
                top: 30%;
                background-image: url(../images/youtube-play-button.png);
                background-size: contain;
                background-repeat: no-repeat;
                opacity: .8;
                transition: transform .25s cubic-bezier(1, 0, 0, 1);
                z-index: 1;
            }
            &:hover {
                &::before {
                    transform: scale(1.15);
                }
            }
        }
    }

    .card-body {
        position: relative;
    }
}

.default {
    .card {
        box-shadow: none !important;
        .card-body {
            background-color: $tertiary_theme;
        }
    }
}

.card-header {
    background-color: transparent;
    border: 0;
    padding-bottom: 0;
    .card-title {
        font-size: 1.115rem;
    }
}

.card-container-link {
    color: $text_color;
    &:hover,
    &:focus {
        color: $text_color;
        text-decoration: none;
    }
}

.card-info-on-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

@media (max-width: 991px) {
    .card {
        .card-img-top {
            height: 240px;
        }
    }
}

@media (max-width: 767px) {
}
