.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-left: 1rem;
    padding-right: 1rem;
}

@media(min-width: 541px) {
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media(min-width: 769px) {
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}