.img-caption {
    padding: 0.5rem;
    background-color: $gray_lighter;
    border-radius: 8px;
    border: 1px solid $border_color;
    img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        box-shadow: 0 8px 26px -4px rgba(0, 0, 0, 0.15), 0 8px 9px -5px rgba(0, 0, 0, 0.06) !important;
    }
    p {
        font-size: 80%;
        color: $text_muted;
        margin-top: 0.5rem;
        margin-bottom: 0;
    }
}
