.navbar {
    -webkit-backdrop-filter: saturate(200%) blur(30px);
    backdrop-filter: saturate(200%) blur(30px);
    background-color: color-opacity($main_theme, 0.5) !important;
    margin: 1rem 3rem !important;
    border-radius: 40px !important;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16) !important;
    .navbar-nav {
        .nav-link {
            padding-left: 1rem;
            padding-right: 1rem;
            font-family: "Museo", sans-serif;
            font-weight: 700;
            color: $text_dark;
        }
    }
}

.navbar-overlay {
    background-image: url(../images/overlay-4-dark.png);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: left top;
    background-size: auto 60px;
    background-repeat: no-repeat;
    z-index: -1;
    border-radius: 40px;
}

.dropdown-menu {
    border: 0 !important;
    -webkit-backdrop-filter: saturate(200%) blur(40px) !important;
    backdrop-filter: saturate(200%) blur(40px) !important;
    background-color: color-opacity($tertiary_theme, 1) !important;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16) !important;
    padding: 1rem !important;
    right: 0 !important;
    left: auto !important;
    width: 250px;
    border-radius: 20px;
    .dropdown-item {
        padding: 0.5rem 1rem;
        border-radius: 10px;
        margin-bottom: 5px;
        color: color-opacity(color-yiq($tertiary_theme), .75);
        &:nth-last-child(1) {
            margin-bottom: 0;
        }
        &:focus,
        &:hover {
            -webkit-backdrop-filter: saturate(200%) blur(30px) !important;
            backdrop-filter: saturate(200%) blur(30px) !important;
            background-color: rgba(255, 255, 255, 0.15) !important;
            color: color-opacity(color-yiq($tertiary_theme), .75);
        }
    }
}

.navbar-brand {
    background: color-opacity($white, .5);
    border-radius: 50rem;
    padding: .3125rem;
    margin: .3125rem 0;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16);
    img {
        width: 40px;
        height: 40px;
    }
}

.navbar-toggler {
    border: 0;
    padding: 0 !important;
    ion-icon {
        font-size: 1.75rem;
        color: $text-dark;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        .navbar-nav {
            .dropdown-menu {
                margin-top: .215rem;
            }
        }
    }

    .dropdown-menu {
        &::after {
            content: '';
            position: absolute;
            right: 2.215rem;
            top: -8px;
            width: 20px;
            height: 20px;
            background-color: $tertiary_theme;
            border-radius: 4px;
            transform: rotate(45deg);
        }
    }
}

@media (max-width: 991px) {
    .navbar {
        margin: 1rem 2rem !important;
        border-radius: 25px !important;
        padding: 0.5rem 2rem;
        .navbar-nav {
            .nav-link {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .navbar-overlay {
        border-radius: 25px;
    }

    .dropdown-menu {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .navbar {
        margin: 1rem !important;
        padding: 0rem 1rem !important;
        border-radius: 20px !important;
    }

    .navbar-overlay {
        border-radius: 20px;
        background-size: auto 50px;
    }
    .navbar-brand {
        img {
            width: 30px;
            height: 30px;
        }
    }
}
