.navbar {
    padding: 1rem 3rem;
    transition: padding 0.35s cubic-bezier(1, 0, 0, 1);
    .navbar-nav {
        .nav-link {
            padding-left: 1rem;
            padding-right: 1rem;
            font-family: "Museo", sans-serif;
            font-weight: 700;
            color: $white;
        }
    }
}

.navbar-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.35s cubic-bezier(1, 0, 0, 1);
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-backdrop-filter: saturate(200%) blur(30px);
        backdrop-filter: saturate(200%) blur(30px);
        background-color: color-opacity($main_theme, 0.5) !important;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16) !important;
    }
    &::after {
        content: "";
        background-image: url(../images/overlay-4-dark.png);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: left top;
        background-size: auto 76px;
        background-repeat: no-repeat;
    }
}

.button-search {
    order: 0;
    background-color: transparent;
    color: $white;
    width: 35px;
    height: 35px;
    border: 0;
    border-radius: calc(35px / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    margin-left: auto;
    &:hover {
        background-color: transparent;
        color: $white;
    }
}

.dropdown-menu {
    border: 0 !important;
    -webkit-backdrop-filter: saturate(200%) blur(40px) !important;
    backdrop-filter: saturate(200%) blur(40px) !important;
    background-color: color-opacity($tertiary_theme, 1) !important;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16) !important;
    padding: 1rem !important;
    right: 0 !important;
    left: auto !important;
    width: 250px;
    border-radius: 20px;
    .dropdown-item {
        padding: 0.5rem 1rem;
        border-radius: 10px;
        margin-bottom: 5px;
        color: color-opacity(color-yiq($tertiary_theme), 0.75);
        &:nth-last-child(1) {
            margin-bottom: 0;
        }
        &:focus,
        &:hover {
            -webkit-backdrop-filter: saturate(200%) blur(30px) !important;
            backdrop-filter: saturate(200%) blur(30px) !important;
            background-color: rgba(255, 255, 255, 0.15) !important;
            color: color-opacity(color-yiq($tertiary_theme), 0.75);
        }
    }
}

.navbar-brand {
    background: color-opacity($white, 0.5);
    border-radius: 50rem;
    padding: 0.3125rem;
    margin: 0.3125rem 0;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.16);
    img {
        width: 40px;
        height: 40px;
    }
    & ~ .title-brand {
        color: $white;
    }
}

.navbar-toggler {
    border: 0;
    padding: 0 !important;
    ion-icon {
        font-size: 1.75rem;
        color: $white;
        vertical-align: middle;
    }
}

.affix {
    .navbar-overlay {
        opacity: 1;
    }
    .navbar-nav {
        .nav-link {
            color: $text_dark;
        }
    }
    .navbar-toggler {
        ion-icon {
            color: $text_dark;
        }
    }
    .button-search {
        background-color: $text_dark;
        color: $white;
        &:hover {
            background-color: $text_dark;
            color: $white;
        }
    }
    .navbar-brand {
        & ~ .title-brand {
            color: $text_dark;
        }
    }
}

@media (min-width: 992px) {
    .affix {
        &.navbar {
            padding: 0.5rem 3rem;
        }
    }
    .navbar-expand-lg {
        .navbar-nav {
            .dropdown-menu {
                margin-top: 0.215rem;
            }
        }
    }

    .dropdown-menu {
        &::after {
            content: "";
            position: absolute;
            right: 2.215rem;
            top: -8px;
            width: 20px;
            height: 20px;
            background-color: $tertiary_theme;
            border-radius: 4px;
            transform: rotate(45deg);
        }
    }

    .button-search {
        background-color: $white;
        color: $text_dark;
        ion-icon {
            margin-left: -.01rem;
            margin-bottom: -.01rem;
        }
        &:hover {
            background-color: $white;
            color: $text_dark;
        }
    }
}

@media (max-width: 991px) {
    .navbar {
        border-radius: 25px !important;
        padding: 0.5rem 2rem;
        .navbar-nav {
            .nav-link {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .navbar-brand {
        & ~ .title-brand {
            display: none;
        }
    }

    .affix {
        .button-search {
            background-color: transparent;
            color: $text_dark;
            &:hover {
                background-color: transparent;
                color: $text_dark;
            }
        }
    }

    .navbar-toggler {
        &:not(.collapsed) {
            ion-icon {
                color: $text_dark;
            }

            & ~ .button-search {
                background-color: transparent;
                color: $text_dark;
                &:hover {
                    background-color: transparent;
                    color: $text_dark;
                }
            }
        }
    }

    .dropdown-menu {
        width: 100%;
    }

    .navbar-collapse {
        &.show {
            & ~ .navbar-overlay {
                opacity: 1;
            }
        }
    }
}

@media (min-width: 992px) {
    .button-search {
        order: 1;
    }
}

@media (max-width: 767px) {
    .navbar {
        padding: 0.25rem 1rem !important;
        border-radius: 20px !important;
    }

    .navbar-overlay {
        &::after {
            background-size: auto 58px;
        }
    }
    .navbar-brand {
        img {
            width: 30px;
            height: 30px;
        }
    }
}
