@mixin buttons() {
    border: 0;
    border-radius: 10px;
    padding: 0.75rem 1.75rem;
    font-size: 1rem;
    @each $name, $color in $colors {
        &.btn-#{$name} {
            @include button_color($color);
        }
    }
}

@mixin button_color($color) {
    background-color: $color;
    @include color-yiq($color);
    &:hover,
    .hover,
    &:focus,
    .focus,
    &:active,
    .active {
        background-color: darken($color, 15%) !important;
        color: color-yiq($color) !important;
    }
    &:focus,
    .focus,
    &:active,
    .active {
        box-shadow: none !important;
    }
}