@each $name, $size in $lengths {
    .p-#{$name} {
        margin: $size !important;
    }
    .pt-#{$name},
    .py-#{$name} {
        margin-top: $size !important;
    }
    .pb-#{$name},
    .py-#{$name} {
        margin-bottom: $size !important;
    }
    .pl-#{$name},
    .px-#{$name} {
        margin-left: $size !important;
    }
    .pr-#{$name},
    .px-#{$name} {
        margin-right: $size !important;
    }
}
@each $name, $size in $lengths {
    @each $break, $width in $breakpoints {
        @media (min-width: $width) {
            .p-#{$break}-#{$name} {
                margin: $size !important;
            }
            .pt-#{$break}-#{$name},
            .py-#{$break}-#{$name} {
                margin-top: $size !important;
            }
            .pb-#{$break}-#{$name},
            .py-#{$break}-#{$name} {
                margin-bottom: $size !important;
            }
            .pl-#{$break}-#{$name},
            .px-#{$break}-#{$name} {
                margin-left: $size !important;
            }
            .pr-#{$break}-#{$name},
            .px-#{$break}-#{$name} {
                margin-right: $size !important;
            }
        }
    }
}
