@font-face {
    font-family: Museo;
    src: url(../fonts/museo100.woff2) format("woff2");
    font-weight: 100;
    font-style: normal
  }
  
  @font-face {
    font-family: Museo;
    src: url(../fonts/museo300.woff2) format("woff2");
    font-weight: 300;
    font-style: normal
  }
  
  @font-face {
    font-family: Museo;
    src: url(../fonts/museo500.woff2) format("woff2");
    font-weight: 500;
    font-style: normal
  }
  
  @font-face {
    font-family: Museo;
    src: url(../fonts/museo700.woff2) format("woff2");
    font-weight: 700;
    font-style: normal
  }
  
  @font-face {
    font-family: Museo;
    src: url(../fonts/museo900.woff2) format("woff2");
    font-weight: 900;
    font-style: normal
  }
  
  body {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Museo", "Fira Sans", sans-serif;
  }